* {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.queue::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.queue::-webkit-scrollbar-thumb {
  background: #888;
}
.queue::-webkit-scrollbar-thumb:hover {
  background: #555;
}
