* {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
body::-webkit-scrollbar {
  height: 25px;
  width: 25px;
}
.queue::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.queue::-webkit-scrollbar-thumb {
  background: #888;
}
.queue::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div .active_filter {
  background: black;
  color: white;
}
